html {
	background-color: #fff;
	font-family: Cursive, sans-serif;
}

body {
	width: 100%;
	max-width: 500px;
	margin: auto;
	background-color: #f4f7f8;
	padding: 20px;
	border-radius: 5px;
}

input, textarea, select {
	width: 95%;
	font-family: 'Spicy Rice', sans-serif;
	border: none;
	border-radius: 4px;
	font-size: 16px;
	margin: 0px 0px 10px 0px;
	outline: 0;
	padding: 7px;
	background-color: #e8eeef;
	color: #8a97a0;
	max-width: 100%;
}

label {
	font-family: Garamond, sans-serif;
	font-size: 18px;
}

.legend {
	margin-bottom: 10px;
	font-size: 20px;

}

.number {
	background-color: #1abc9c;
	color: #fff;
	height: 30px;
	width: 30px;
	border-radius: 15px 15px 15px 0px;
	font-size: 20px;
	margin-right: 5px;
	text-align: center;
	display: inline-block;
	line-height: 30px;
}

input[type="submit"]{
	display: block;
	padding: 19px 39px;
	color: #fff;
	margin: 0px auto;
	background: #1abc9c;
	font-size: 18px;
	text-align: center;
	margin-bottom: 10px;
}